venv/
.venv/
__pycache__/
*.pyc
.DS_Store
.cache/
outputs/*
!outputs/.gitkeep
outputs_*/
outputs_hybrid_*/
outputs_200epoch_gpu/
data/*
!data/README_DATA.md
dataset/
Brain_Tumor_MRI_Dataset/
*.pt
*.pth
*.ckpt
notebooks/.ipynb_checkpoints/
